<!doctype html>

<!--[if IE 8]><html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Luke Larsen - Designer Learning To Program</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/screen.css">
    </head>
    
    <body>
        <!--[if lt IE 8]>
            <p class="ancient">You are using an outdated browser. <a href="http://browsehappy.com/" target="_blank">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        {{{ body }}}

        <footer> <!-- this will have the fin divider as the background image -->
            <p class="center-text">{ <a class="font-light" href="/page/1">view the posts</a> }</p>
            <ul class="nav  nav--social">
                <li><a href="http://dribbble.com/lukelarsen" target="_blank" class="social  social--dribbble" aria-hidden="true" data-icon="&#xe001;"></a></li>
                <li><a href="https://twitter.com/lukelarsen" target="_blank" class="social  social--twitter" aria-hidden="true" data-icon="&#xe000;"></a></li>
                <li><a href="https://github.com/lukelarsen" target="_blank" class="social  social--github" aria-hidden="true" data-icon="&#xe002;"></a></li>
                <li><a href="http://www.linkedin.com/pub/luke-larsen/1/466/b47" target="_blank" class="social  social--linkedin" aria-hidden="true" data-icon="&#xf0e1;"></a></li>
                <li><a href="mailto:luke@lukelarsen.com" class="social  social--mail" aria-hidden="true" data-icon="&#xe004;"></a></li>
            </ul>
        </footer>

        <p class="center-text  center-help  gray4  font-light  beta">app.listen(8000);</p>

    </body>
</html>